body {
    overflow-x: hidden;
}

img {
    transition: all 0.3s;
    object-fit: contain;
}


::-webkit-scrollbar {
    background: #040612;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #0A97FE;
}

nav {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

nav .nav-link {
    font-size: 14px;
    color: #77789a;
    text-decoration: none;
    line-height: 35px;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    padding: 0 17px;
    transition: all 0.3s;
}

nav .animation {
    position: absolute;
    height: 35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    bottom: 0px;
    z-index: -1;
    transition: all .5s ease 0s;
}


nav .start-home,
.nav-link:nth-child(1) {
    width: 75px;
    left: 2px;
}

nav .start-plans,
.nav-link:nth-child(2) {
    width: 80px;
    left: 82px;
}

nav .start-services,
.nav-link:nth-child(3) {
    width: 105px;
    left: 167px;
}

nav .start-about,
.nav-link:nth-child(4) {
    width: 110px;
    left: 275px;
}

nav .start-contact,
.nav-link:nth-child(5) {
    width: 110px;
    left: 389px;
}

nav .active {
    color: white;
}

.navbar-blur {
    background: transparent;
    transition: 0.3s all;
}

.active-blur {
    background: #12111281;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: 0.3s all;
}