input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}

body {
    overflow-x: hidden;
}

img {
    transition: all 0.3s;
    object-fit: contain;
}

::-webkit-scrollbar {
    background: #040612;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #0A97FE;
}

nav {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
}

nav .nav-link {
    font-size: 14px;
    color: #77789a;
    text-decoration: none;
    line-height: 35px;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    padding: 0 17px;
    transition: all 0.3s;
}

nav .animation {
    position: absolute;
    height: 35px;
    border: 2px solid #0A97FE;
    border-radius: 20px;
    bottom: 1px;
    z-index: -1;
    transition: all .5s ease .3s;
}


nav .inicio,
.nav-link:nth-child(1) {
    width: 75px;
    left: -1px;
}

nav .nosotros,
.nav-link:nth-child(2) {
    width: 105px;
    left: 76px;
}

nav .ingresos,
.nav-link:nth-child(3) {
    width: 100px;
    left: 180px;
}

nav .gastos,
.nav-link:nth-child(4) {
    width: 85px;
    left: 282px;
}

nav .noticias,
.nav-link:nth-child(5) {
    width: 93px;
    left: 367px;
}

nav .profile,
.nav-link:nth-child(6) {
    width: 35.5px;
    left: 468px;
}

nav .active {
    color: white;
    transition: all .5s ease .3s;
}

.navbar-blur {
    background: transparent;
    transition: 0.3s all;
}

.active-blur {
    background: black;
    transition: 0.3s all;
    z-index: 1;
}

.bg-fixed {
    width: 100%;
    height: 100vh;
    background-image: url('../public/bgHome.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-donate {
    background-image: url('../public/bgHome2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mini-divider {
    background-color: #08b8ef;
    margin: 15px auto;
    display: block;
    width: 60px;
    height: 2px;
}


.social-list {
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-list li {
    list-style: none;
}

.social-list li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.social-list li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.social-list li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.social-list li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.social-list li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.social-list li:nth-child(3) a:hover .fab {
    color: red;
}

.social-list li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

.mercadopago-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-image: url('../public/mercadopago.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px;
    transition: all 0.4s;
}

.paypal-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-image: url('../public/paypal.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px;
    transition: all 0.4s;
}

.mercadopago-btn:hover,
.paypal-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}

.checkout-mp {
    background-color: #009ee3;
    font-weight: 600;
    font-size: 16px;
    text-transform: none;
    border-radius: 10px;
}

.checkout-mp:hover {
    background-color: #009fe3d0;
}

.donate-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292c31;
    border-radius: 10px;
    padding: 6px 15px 6px 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.donate-box:hover {
    background-color: #08b8ef;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.selected {
    background-color: #08b8ef;
}

.slide-in {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: bottom;
}

.slide-out {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: top;
}
