input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}


body {
    overflow-x: hidden;
}

img {
    transition: all 0.3s;
    object-fit: contain;
}

::-webkit-scrollbar {
    background: #040612;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #0A97FE;
}

nav {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    max-height: 37px;
    display: flex;
    align-items: center;
}

nav .nav-link {
    font-size: 14px;
    color: #77789a;
    text-decoration: none;
    line-height: 35px;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    padding: 0 17px;
    transition: all 0.3s;
}

nav .animation {
    position: absolute;
    height: 35px;
    border: 2px solid #0A97FE;
    border-radius: 20px;
    bottom: 1px;
    z-index: -1;
    transition: all .5s ease .3s;
}


nav .inicio,
.nav-link:nth-child(1) {
    width: 75px;
    left: -1px;
}

nav .ingresos,
.nav-link:nth-child(2) {
    width: 100px;
    left: 75px;
}

nav .gastos,
.nav-link:nth-child(3) {
    width: 85px;
    left: 177px;
}

nav .recibimientos,
.nav-link:nth-child(4) {
    width: 129px;
    left: 263px;
}

nav .nosotros,
.nav-link:nth-child(5) {
    width: 105px;
    left: 391px;
}


nav .historial,
.nav-link:nth-child(6) {
    top: -4.5px;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    left: 507px;
}

nav .active {
    color: white;
    transition: all .5s ease .3s;
}

.navbar-blur {
    background: transparent;
    transition: 0.3s all;
}

.active-blur {
    background: black;
    transition: 0.3s all;
    z-index: 1;
}

.bg-home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../public/bgHome3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-history {
    background-image: url('../public/bgHistory.png');
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.auth-container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/bgAuth.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.auth-container a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin-left: 5px;
}

.auth-box {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: var(--glass-1-fill-carey, linear-gradient(294deg, hsla(0, 0%, 75%, .06) 0, transparent 100%), rgba(0, 0, 0, .14));
    box-shadow: -8px 4px 5px 0 rgba(0, 0, 0, .24);
    backdrop-filter: blur(26.5px);
    margin: 20px;
}

.auth-providers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-divider {
    background-color: #08b8ef;
    margin: 15px auto;
    display: block;
    width: 60px;
    height: 2px;
}

.mini-divider-vert {
    background-color: white;
    margin: 15px 15px;
    width: 1.3px;
    height: 35px;
}


.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list li {
    list-style: none;
}

.social-list li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    transition: .5s;
}


.social-list li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 24px;
    color: #ffffff;
    transition: .5s;
}

.social-list li:hover .fab {
    transform: translateY(-5px);
}

.social-list li:nth-child(1) a:hover .fab {
    color: #00aced;
}

.social-list li:nth-child(2) a:hover .fab {
    color: #e4405f;
}

.social-list li:nth-child(3) a:hover .fab {
    color: red;
}


.mercadopago-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-image: url('../public/mercadopago.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px;
    transition: all 0.4s;
}

.paypal-btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-image: url('../public/paypal.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px;
    transition: all 0.4s;
}

.mercadopago-btn:hover,
.paypal-btn:hover {
    border: 1px solid #009ee3;
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px #009ee3;
}

.btn-disabled {
    background-color: #ccc;
    color: #999;
    cursor: wait;
    opacity: 0.6;
    user-select: none;
}

.checkout-mp {
    background-color: #009ee3;
    font-weight: 600;
    font-size: 16px;
    text-transform: none;
    border-radius: 10px;
}

.checkout-mp:hover {
    background-color: #009fe3d0;
}

.donate-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0fc6;
    border-radius: 10px;
    padding: 6px 15px 6px 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.donate-box:hover {
    background-color: #08b8ef;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.selected {
    background-color: #08b8ef;
}

.slide-in {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: bottom;
}

.slide-out {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: top;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeIn;
}


.blobs {
    position: absolute;
    isolation: isolate;
    filter: blur(85px);
    pointer-events: none;
    z-index: -1;
}

.purple-blob {
    position: absolute;
    top: 18%;
    left: 25%;
    width: 49%;
    height: 66%;
    background: radial-gradient(farthest-side, #1d03218f, transparent);
}

.blue-blob {
    position: absolute;
    top: 25%;
    left: 24%;
    width: 25%;
    height: 51%;
    background: radial-gradient(farthest-side, #2200ff33, transparent);
    mix-blend-mode: multiply;
}

.cyan-blob {
    position: absolute;
    top: 21%;
    left: 0;
    width: 55%;
    height: 63%;
    background: radial-gradient(farthest-side, #00e3ffeb, transparent);
    mix-blend-mode: multiply;
}

.top-box {
    position: relative;
    background: #1d1b1b;
    border-radius: 10px;
    padding: 15px 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s;
    cursor: default;
    z-index: 1;
    max-width: 480px;
}

.top-box:hover {
    transition: all 0.4s;
    transform: translateY(-5px);
}

.top-box h5 {
    text-align: center;
    font-weight: 600;
}

.top-box h5::after {
    content: '';
    position: absolute;
    background: #0f0f0fc6;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 60px;
    z-index: -1;
    top: 0;
    left: 0;
}

.top-box:nth-child(1):hover {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}

.top-box:nth-child(2):hover {
    box-shadow: 0px 0px 15px #00e1ff98;
}

.top-box:nth-child(3):hover {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}

.top-box:nth-child(2):hover .cont-destacado {
    box-shadow: 0px 0px 15px #00e1ff98;
}

.cont-destacado {
    transition: all 0.4s;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background: #08b8ef;
    width: 160px;
    height: 35px;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    clip-path: inset(-50px -50px 0px -50px);
}

.triangle {
    background: #08b8ef;
    position: absolute;
    clip-path: polygon(52% 38%, 0 0, 100% 0);
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.toptwo-donate {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(/free.png);
    background-size: 100%;
    top: -2px;
    left: -2px;
    z-index: 1;
}

.top-donate {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(/sale.png);
    background-size: 100%;
    top: -2px;
    left: -2px;
    z-index: 1;
}

.stats-box {
    transition: all 0.4s;
    cursor: default;
}

.stats-box .count {
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600;
}

.stats-box .divider {
    margin: 15px auto;
    background-color: #08b8ef;
    display: block;
    width: 25%;
    height: 2px;
}

.stats-box svg {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #08b8ef;
}

.progress-bar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.progress-content {
    height: 14px;
    margin: 0 4px;
    border-radius: 10px;
    background-color: #08b8ef;
}